.app-container{
  button {
    color: #1ABC9C;
    border: 2px solid #1ABC9C;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5rem;
    margin: 1rem 0rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #1ABC9C;
    }
  }

  .enable_button{
    margin-left: 1rem;
  }
}